*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    background-color: hsl(0, 0%, 8%);
    display: grid;
    place-content: center;
}

.card{
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.photo-person{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 3px; 
}

.location{
    margin-top: 0px;
    margin-bottom: 10px;
    color: hsl(75, 94%, 57%);
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.bio{
    margin-top: 8px;
    margin-bottom: 25px;
    color: hsl(0, 0%, 100%);
    font-size: .8rem;
    font-weight: 400;
    width: 80%;
    text-align: center;
}


.button{
    margin-bottom: 15px;
    
    background-color:hsl(0, 0%, 20%);
    
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}